<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>
</html>

<nav class="flex w-100 navbar hover:bg-gray-700 border-b-2 border-gray-200 items-center">
    <a class="navbar-brand hover:bg-gray-300 font-bold text-3xl" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Guess_Quiz_Logo.png" width="32" height="32" class="d-inline-block align-top" class="hover:bg-blue-200 d-inline-block align-center" alt="Logo">
      TikTok
    </a>
    <div class="flex w-32 h-10 rounded-lg bg-blue-200 items-center">
      <a routerLink="/explore" class="w-100 h-10 py-2 hover:bg-blue-300 rounded-lg text-center font-bold">Explore</a>
    </div>
    <div class="flex w-50 h-10 hover:bg-green-400">
        <div class="mx-64 w-50 border-2 hover:border-gray-500 rounded-full">
            <input id="search" class="w-100 pl-4 h-10 bg-gray-300 hover:bg-gray-200 rounded-full"
                                placeholder="Search"
                                autocomplete="off"
                                >
            <!-- <button class="flex w-20 bg-blue-200 flex rounded-full justify-center items-center">Search</button> -->
        </div>
    </div>
  
    <div class="flex w-25 h-10 space-x-2 hover:bg-gray-500 items-center">
        <div class="flex w-100 space-x-2">
            <a routerLink="/exams" class="w-50 py-2 h-10 text-white bg-red-600 hover:bg-red-700 rounded-lg text-center font-bold">Exams</a>
            <a routerLink="/add-exam" class="w-50 py-2 h-10 text-white bg-red-600 hover:bg-red-700 rounded-lg text-center font-bold"><span class="mr-1 text-lg">+</span>Exam</a>
            <div *ngIf="authenticated" class="flex w-100 space-x-2">
              <a routerLink="/logout" class="w-50 py-2 h-10 text-white bg-red-600 hover:bg-red-700 rounded-lg text-center font-bold">Logout</a>
            </div>
            <div *ngIf="!authenticated" class="flex w-100 space-x-2">
              <a routerLink="/home" class="w-50 py-2 h-10 text-white bg-red-600 hover:bg-red-700 rounded-lg text-center font-bold">Login</a>
              <a routerLink="/register" class="w-50 py-2 h-10 text-white bg-red-600 hover:bg-red-700 rounded-lg text-center font-bold">Register</a>
            </div>
        </div>
        <a href="#" class="space-y-1">
            <div class="w-2 h-2 sm:w-28 md:w-2 lg:w-2 bg-gray-700 rounded-full"></div>
            <div class="w-2 h-2 bg-gray-700 rounded-full"></div>
            <div class="w-2 h-2 bg-gray-700 rounded-full"></div>
      </a>
    </div>
  </nav>
  