<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>
<body>
  <div *ngIf="exam">
    <div class="my-5 mx-5">
      <p>id: {{exam.id}}</p>
      <p>title: {{exam.title}}</p>
      <p>description: {{exam.description}}</p>
      <p>created_at: {{exam.created_at}}</p>
      <p>updated_at: {{exam.updated_at}}</p>
      <p>last_updated_by: {{exam.last_updated_by}}</p>
    </div>
    <div class="my-5 mx-5">
        {{json_exam}}
    </div>
  </div>

</body>
</html>
